.hero
	padding 50px 0
	
	.container
		display flex
		height 100%
		align-items center
		justify-content space-between
	
	&-crest
		height 190px
		width 150px
		background url(../img/crest.png) center no-repeat
		background-size 100%
	
	&-text
		&-sign,
		&-name
			text-align center
			color $blue

		&-sign
			font-size 45px
			line-height 35px
			letter-spacing 1px
			font-family Roboto Slab
			font-weight 300
			line-height 50px
		
		&-name
			margin-top 20px
			line-height 25px
			font-size 15px
			font-weight 300			
	
	&-search
		position relative
		
		&-icon
			position absolute
			right 10px
			top 27%
			color $blue

		&-input
			color $blue
			border 1px solid $blue
			background-color rgba(255,255,255,.7)
			border-radius 4px
			outline none
			padding 8px 30px 8px 14px
			for prefix in '::-webkit-input-' ':-ms-input-' '::-moz-' ':-moz-'
				&{prefix}placeholder
					color $blue !important