.slider
	margin-bottom 50px
	
	.owl-stage
		cursor grab
	
	&-item
		width 100%
		background-position top center
		background-size cover
		background-repeat no-repeat

		// fix blink owl-carousel
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		
		height 350px
		
		+below(1200px)
			height 300px