$active
    background-color $blue
    width 100%

$width = 160px

.menu
    width $width
    list-style none
    padding 0
    margin 0
    
    &-item
        color $blue
        font-weight 400
        list-style none
        letter-spacing 1px
        text-align right
        position relative

        a
            cursor pointer
            position relative
            padding 13px 0
            color inherit
            text-decoration none
            display block
            font-size 14px
            
            &:after
                content ''
                display block
                position absolute
                right 0
                bottom 0
                background-color lighten($blue, 60%)
                width 30px
                height 1px
                transition width 300ms ease-in-out, color 300ms ease-in-out
                
            &:hover:after
                width 100%
            
        &.current-menu-item > a:after
            @extends $active
    
    .sub-menu
        z-index 1
        display none
        width 200px
        left $width
        padding 0 20px
        top 0
        position absolute
        list-style none
        margin 0
        border-top-right-radius 5px
        border-bottom-right-radius 5px
        background-color $grey
        
        &--upward
            bottom 0
            top auto
    
    .sub-menu &-item
        text-align left
        border-left none
        
        &-link
            padding-left 20px
            &:after
                display none
    
    &-item:hover > .sub-menu
        display block
        