body
	background-color #EDF4F9
	font-family Roboto

.menu
	font-size 14px !important
	&-column
		flex 0
	
	a.item
		transition hover 250ms
	
		&:hover
			color #00B5AD !important

.content
	flex 1

.links
	flex 0
	text-align center
	
	h3
		font-weight 200
		letter-spacing 1px
	
	&-item
		display block
		text-align center
		margin-bottom 20px