body
	background-color $grey
	font-family Roboto
	color #444

.container
	margin auto
	+above(1200px)
		padding 0 2em
		width 1127px
	+between(992px, 1200px)
		padding 0 1.5em
		width 933px
	+between(768px, 991px)
		padding 0 1em
		width 723px
	+below(768px)
		padding 0 1em
		width 100%